body {
    background: #f2f7fb;
}

.sidebar {
    float: left;
    display: flex;
    flex-direction: column;
    width: 200px;
    max-width: 200px;
    background: #263544;
    padding: 10px;
    height: 92.5%;
    margin-left: -10px;
}

.content {
    border: 1px solid black;
    width: 50vw;
    margin-left: 250px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
    box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
    border: none;
    margin-bottom: 30px;
    margin-top: 3rem;
    position: absolute;
    background-color: white;
    padding: 40px
}

.devedor {
    padding: 20px;
    text-decoration: none;
    color: white;
}

.devedor:hover {
    background: #1d2531
}

.form-control {
    padding: 20px
}

.btn-danger {
    padding: 10px;
    text-decoration: none;
    background: red;
    color: white;
    border-radius: 2rem;
    outline: none;
    border: none;
}

.btn-success {
    padding: 10px;
    text-decoration: none;
    background: green;
    color: white;
    border-radius: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #FF5370;
    transition: .5s;
}

.btn-success:hover {
    background-color: #2ed8b6;
    transition: .5s;
}

.buttonsCrud {
    float: right;
    margin-top: 25px;
}


/* The alert message box */

.warning {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

.success {
    padding: 20px;
    background-color: #4CAF50;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.input-group {
    margin-top: 10px
}

.form-control input:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}

select.form-control,
select.form-control:focus,
select.form-control:hover {
    border-top: none;
    border-right: none;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

header {
    background: #263544;
    margin: -10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

header h1 {
    color: white;
}

.btnNew {
    padding-top: 20px;
}

.btnNew a {
    position: absolute;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
}

.btn-voltar {
    padding: 10px 0px 20px 20px;
}

.btn-voltar a {
    background: white;
    color: black;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 4px;
    width: 18px;
    height: 18px;
    text-decoration: none;
}

.sequence {
    visibility: hidden;
}

.labelSearch {
    color: white
}

.btnSearch {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
}